<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EC2 File Upload</title>
</head>
<body>
<center>
    <h1> Welcome, Krutika Kulkarni  </h1> <br>
    <h2> UTA ID: 1001387529</h2> <br>

<h2> Upload File to server </h2> <br>
    </center>
<center>
    <form action="upload" method="post" enctype = "multipart/form-data">
        <p> Select Your file <input type="file" name="file"/></p><br>
        <input type="hidden" name="form_id" value="1137282" /><br>
        <input type="hidden" name="uploadTime" value=""/> <br>
        <input id="saveForm" type="submit" name="submit" value="Upload File"/>
    </form></center>
</body>
</html>