<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EC2 file upload and Table Modifications</title>
</head>
<body>
<center>
    <h2> Name: Krutika Kulkarni</h2><br>
    <h2> UTA ID: 1001387529</h2><br><br>
    <h3> Upload File to the Server</h3><br>
    <form id="fileUploadForm" enctype="multipart/form-data" method="post" action="fileupload">
    Select File : <input id="fileInput" name="file" type="file"/><br><br>
    Description : <textarea id="despArea" name="description"></textarea><br>
    <input type="hidden" name="form_id" value="1137282" /><br>
    <input type="hidden" name="uploadTime" value="" /> <br>
    <input id="saveForm" class="button_text" type="submit" name="submit" value="Upload File" />
    </form>
</center>
</body>
</html>