<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Query</title>
</head>
<body>
<center>
    <form id="webqueryform" enctype="multipart/form-data" method="post" action="jsonResult">
    Enter a Query: <textarea id="queryText" name="queryText"></textarea><br><br>
        <input id="executeQuery" type="submit" name="submit" value="Execute"/><br><br>
        <input id="Clear" type="submit" name="submit" value="Clear"/>
    </form>
</center>

</body>
</html>